* {
    margin: 0;
    padding: 0;
    font-family: 'Inter',sans-serif;
}

.semiRead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.propaganda {
    background-color: #8635FD;
    display: flex;
    margin-bottom: 1rem;
    color: white;
   text-align: center;
}

.menu {
    margin-top: 1rem;
    margin-right: 1rem;
}

.logo {
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.rosa {
    padding: 5px 8px 5px 8px;
    max-width: 200px;
    display: flex;
    border-radius:20px; 
    margin-top: 2rem;
    margin-left: 1rem;;
    color: #8635FD;
    background-color: rgba(133, 53, 253, 0.08);
}
.título h1{
    margin-left:1rem;
    margin-top: 1rem;
    font-size: 36px 
}
.subtítulo{
    display:flex
    
}
.subtítulo img{
    height: 50px;
    width: 80px;
margin-left:3.5rem;
    margin-top: 0.8rem;
    font-size: 36px 
}
.subtítulo h3{
    color: gray;
    margin-left: 0.8rem;
}
